## 2.1
![alt text](21.png)

In [ ]:
nr1 = (input("number1"))
nr2 = (input("number2"))
sum = float(nr1) + float(nr2)
print('The sum of {0} and {1} is {2}'.format(nr1, nr2, sum))

### Exercise 2.2 (sum of k numbers)

Create a program that adds a user specified number of numbers. The program should first ask the user for a number k, and then ask the user for the k numbers to add, and finally print the sum of the k numbers.

Hint. Use a while-loop.

## Exercise 2.4 (integer square root)

Consider the following program for finding the integer square root of an integer:

In [ ]:
x = int(input("x: ")) 

low = 0 
high = x + 1

while True:  # low <= sqrt(x) < high 
    if low + 1 == high:
        break
        
    mid = (high + low) // 2
    
    if mid * mid <= x:
        low = mid
        continue
        
    high = mid

print(low)

2.5

In [ ]:
num = int(input("enter number"))

if num

## handin 1

![alt text](handin1.png)

In [11]:
import numpy as np
import pandas as pd

term = 180
P = float(input("Loan amount \n"))
rent = float(input("Your interest rent \n"))
mp = float(input('Your monthly payment \n'))

def calculation(P, mp, interest_rate = rent):
    interest_paid = np.floor(((rent/12) * P) * 100) / 100
    principal_paid = np.round(mp - interest_paid, 2)
    new_balance = np.round(P - principal_paid, 2)
    return(mp, interest_paid, principal_paid, new_balance)

payment_list = []

for n in range(1, term + 1):
    mp,i_paid,p_paid,new_p = calculation(P, mp)
    if (new_p <= 0): break
    payment_list.append([n, new_p])
    P = np.round(new_p, 2)
column_names = ['Month', 'Balance']

payment_table = pd.DataFrame(payment_list, columns = column_names)
payment_table.head(n = 60)

   Month  Balance
0      1   904.16
1      2   807.92
2      3   711.28
3      4   614.24
4      5   516.79
5      6   418.94
6      7   320.68
7      8   222.01
8      9   122.93
9     10    23.44